{% extends 'home/template.html' %}
{% load static %}
{%block content%}
 <br><br><br>
  <!-- Page Content -->
  {% csrf_token %}
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" >Add Proudct</button>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">New Proudct</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Proudct:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Price:</label>
                <input type="number" class="form-control" id="recipient-name">
              </div>

              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Amount:</label>
                <input type="number" class="form-control" id="recipient-name">
              </div>


              <div class="container">
                <div class="row mt-2">
                    <div class="form-group">
              <label for="recipient-name" class="col-form-label">Category:</label>
                <select class="custom-select" style="width: auto">
                    <option selected>Open this select menu</option>
                    <!--/3awz for loop 3ashan amlah el Category
                    {% for Category in home.Proudct %}
                    <option value="{{ Product.Category }}">{{ Category }}</option>
                   {% endfor %}
                     -->
                  </select>
            </div>
          </div>
        </div>
              
              
            <div class="form-group">
              <label for="message-text" class="col-form-label">Description:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>

            <div class="form-group">
              <label for="exampleFormControlFile1">Proudct image:
              </label>
              <input type="file" class="form-control-file" accept="image/*">
            </div>

            
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>


      <!-- /.col-lg-3 -->


        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
{%endblock content%}