{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Welcome</title>

  <!-- Bootstrap core CSS -->
  <link href= "{% static 'home/vendor/bootstrap/css/bootstrap.min.css'  %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href= "{% static 'home/css/shop-homepage.css' %}" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Ecommerce Ain Shams</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li> -->
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile' %}">Hello, {{ request.user }}</a>
            </li>
          {% endif %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home'%}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>

          {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout'%}">Log Out</a>
            </li>
            
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register'%}">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login'%}">Log In</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  {% csrf_token %}
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" >Add Proudct</button>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">New Proudct</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Proudct:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Price:</label>
                <input type="number" class="form-control" id="recipient-name">
              </div>

              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Amount:</label>
                <input type="number" class="form-control" id="recipient-name">
              </div>

            <div class="dropdown">
                <label for="recipient-name" class="col-form-label">Category:</label>
                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" href="#menu6">
                    Choose Product Category  <b class="caret"></b>
                </button>
              </div>
              
            <div class="form-group">
              <label for="message-text" class="col-form-label">Description:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>

            <div class="input-group">
                <label for="recipient-name" class="col-form-label">Image:   </label>
                    <input type="file" id="img" name="img" accept="image/*">
              </div>
            
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>


      <!-- /.col-lg-3 -->


        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'home/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'home/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
